Django==5.2.3
psycopg2-binary>=2.9
djangorestframework>=3.14
channels>=4.0
daphne>=4.0
channels_redis>=4.0
firebase-admin>=6.0
pyowm>=3.3
celery>=5.2
redis>=4.3
django-celery-beat>=2.5
scikit-learn>=1.0
# flower>=1.0 # Optional: for monitoring Celery tasks
