# Django and Core Web
Django==4.2.13
gunicorn==22.0.0
psycopg2-binary==2.9.9
dj-database-url==2.1.0

# Django REST Framework and API Docs
djangorestframework==3.15.1
drf-spectacular==0.27.2

# ASGI & Channels for asynchronous features
daphne==4.1.2
channels==4.0.0
channels_redis==4.2.0

# Celery for Background Tasks
celery==5.4.0
redis==5.0.7
django-celery-beat==2.6.0