# Django and related
Django==4.2.13
psycopg2-binary==2.9.9
dj-database-url==2.1.0
djangorestframework==3.15.1

# ASGI & Channels for asynchronous features
daphne==4.1.2
channels==4.0.0

# Celery, Redis, and Scheduled Tasks
celery==5.4.0
redis==5.0.7
django-celery-beat==2.6.0